<launch>
    <arg name="model" default="$(find mobilebot)/urdf/mobilebot.urdf.xacro" />
    <arg name="world" default="empty_world" />

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />
        <arg name="world_name" value="/home/vros/gazebo_models/worlds/office_small.world" />
    </include>

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_model"
           args="-urdf -model mobilebot -x 0.0 -y 0.0 -z 0.0 -param robot_description"
           output="screen" respawn="false" />

    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />

    <include file="$(find mobilebot)/launch/controller.launch">
        <arg name="is_simple" value="false"/>        
    </include>
   
</launch>